body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 1rem;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

/* .toggle-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle {
  display: none;
}

.switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.switch::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle:checked + .switch {
  background-color: #66bb6a;
}

.toggle:checked + .switch::before {
  transform: translateX(26px);
} */

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.add-employee {
  margin-bottom: 2rem;
}

.add-employee h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

input[type="text"], input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button[type="submit"] {
  background-color: #000000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #7d7d7d;
}

.employee-list {
  text-align: left;
}

.employee-list h2 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

th {
  background-color: #222;
  color: #fff;
}

 .search-container {
  display: flex;

  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  border-radius: 3px;
  padding: 0.5rem;
}

#search-input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 3px 0 0 3px;
  font-size: 1rem;
}

#search-button {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #060606;
  color: #fff;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 25%;
  margin-left: 15px;
}

#search-button:hover {
  background-color: #6b6b6b;
  color: #fff;
}

#search-button:hover:active {
  background-color: #6c757d;
  color: #fff;
}

/* #show-all-button {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #060606;
  color: #fff;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 25%;
  margin-left: 15px;
}

#show-all-button:hover {
  background-color: #6b6b6b;
  color: #fff;
}

#show-all-button:hover:active {
  background-color: #6c757d;
  color: #fff;
} */

#toggle-mode {
  background-color: #8f8f8f;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

#toggle-mode {
  background-color: #444;
}

#toggle-mode:hover {
  opacity: 0.8;
}

#toggle-mode:focus {
  outline: none;
}

body.dark {
  background-color: black;
  color: white;
}
